{
  "name": "givemeemoji",
  "version": "1.0.0",

  "author": "Sean G biefeld",

  "keywords": [
    "emoji"
  ],

  "description": "Allows you get an emoji png",

  "licenses": "MIT",

  "repository" : {
    "type": "git",
    "url": "https://github.com/seanbiefeld/givemeemoji"
  },

  "dependencies": { },

  "engines": {
    "node": "0.10.x"
  }
}
