{
  "name": "givemeemoji",
  "version": "1.0.0",

  "author": "Sean G biefeld",

  "keywords": [
    "emoji"
  ],

  "description": "Allows you get an emoji png",

  "licenses": [{
    "type": "MIT",
    "url": ""
  }],

  "repository" : {
    "type": "git",
    "url": "https://github.com/github"
  },

  "dependencies": { }
}
